#hiThere-gelobiInGrotesk-image

	width: 133px
	height: 54px

	background: url("../../images/sets/hiThere/gelobi-in-grotesk.png")

	position: absolute

	overflow: hidden

#hiThere-gelobiInGrotesk

	left: 772px
	top: 425px

	width: 133px
	height: 54px

	position: absolute

	overflow: hidden