#panels-bg-image

	position: absolute

	top: 0
	bottom: 0
	left: 0
	right: 0

	background: url("../../images/sets/panels/blurred-snowy-park.jpg")
	background-size: fill
	background-position: center center

#panels-login-forgot

	width: 174px
	height: 14px

	position: absolute

	color: #242424

	font-family: "HelveticaNeueLT Std Lt"

	font-size: 14px

	line-height: 20px

	text-align: center

	letter-spacing: 1px

	-webkit-text-stroke: 0.38px #111

	&:after

		position: absolute
		left: 5px
		right: 7px
		bottom: -2.5px

		content: "\0020"

		display: block

		height: 1px

		background: #707070

		z-index: -1

#panels-login-button-arrow

	position: absolute

	background: url("../../images/sets/panels/login/button-arrow.png")

	width: 17px
	height: 32px

#panels-login-un-text, #panels-login-pw-text

	width: 190px
	height: 20px

	position: absolute

	color: #dedede

	font-family: "HelveticaNeueLT Std Thin"

	font-size: 22px

	line-height: 20px

	padding-left: 2px
