{
  workspaces:
    workspaces: [
      name: "TJS"
      propHolders: [
        {
          id: "main-Theatre-dayore-rotateZ"
          _expanded: false
          actorPropId: "main-Theatre-dayore-rotateZ"
          _height: 297
        }
        {
          id: "main-Theatre-dayore-y"
          _expanded: false
          actorPropId: "main-Theatre-dayore-y"
          _height: 272
        }
        {
          id: "main-Theatre-dayore-x"
          _expanded: false
          actorPropId: "main-Theatre-dayore-x"
          _height: 180
        }
        {
          id: "main-Theatre-seeker-x"
          _expanded: false
          actorPropId: "main-Theatre-seeker-x"
          _height: 180
        }
        {
          id: "main-Theatre-Element-y"
          _expanded: true
          actorPropId: "main-Theatre-Element-y"
          _height: 180
        }
      ]
    ]
    _activeWorkspaceName: "TJS"

  timeControl:
    t: 4745.929067429504
    _focus:
      from: -5.469382678740658
      to: 5315.248399628079

    _lastPlayedTickAt: 0

  timeline:
    _allProps:
      "main-Theatre-Element-x":
        pacs:
          _idCounter: 4
          chronologyLength: 1275.514378206812
          chronology:
            points: [
              {
                t: 0
                value: 0
                id: "main-Theatre-Element-x-point-0"
                handler: [
                  100
                  0.12448132783174515
                  239.6754608154297
                  1512.7119140625
                ]
              }
              {
                t: 1275.514378206812
                value: 400
                id: "main-Theatre-Element-x-point-1"
                handler: [
                  351.01446533203125
                  -127.50521850585938
                  0
                  592.7405395507812
                ]
              }
            ]
            connectors: [
              t: 0
              id: "main-Theatre-Element-x-connector-4"
            ]

      "main-Theatre-Element-y":
        pacs:
          _idCounter: 16
          chronologyLength: 572.6713431246021
          chronology:
            points: [
              {
                t: -16.799231126067546
                value: 330
                id: "main-Theatre-Element-y-point-14"
                handler: [
                  100
                  4.95754861831665
                  317.2403564453125
                  -61.62093734741211
                ]
              }
              {
                t: 572.6713431246021
                value: 0
                id: "main-Theatre-Element-y-point-6"
                handler: [
                  357.3462829589844
                  36.3917350769043
                  133.4215850830078
                  3.3289244174957275
                ]
              }
            ]
            connectors: [
              t: -16.799231126067546
              id: "main-Theatre-Element-y-connector-16"
            ]

      "main-Theatre-seeker-x":
        pacs:
          _idCounter: 5
          chronologyLength: 3837.8069076283273
          chronology:
            points: [
              {
                t: -15.542209145867673
                value: 0
                id: "main-Theatre-seeker-x-point-0"
                handler: [
                  100
                  0.7857142686843872
                  243.0469970703125
                  102.99823760986328
                ]
              }
              {
                t: 3837.8069076283273
                value: 1200
                id: "main-Theatre-seeker-x-point-1"
                handler: [
                  175.14501953125
                  -80.07595825195312
                  100
                  0.807602047920227
                ]
              }
            ]
            connectors: [
              t: -15.542209145867673
              id: "main-Theatre-seeker-x-connector-5"
            ]

      "main-Theatre-dayore-x":
        pacs:
          _idCounter: 31
          chronologyLength: 4166.374493489504
          chronology:
            points: [
              {
                t: -15.42138163628988
                value: 0
                id: "main-Theatre-dayore-x-point-4"
                handler: [
                  100
                  -0.0714285746216774
                  284.08349609375
                  399.9571228027344
                ]
              }
              {
                t: 4166.374493489504
                value: 1000
                id: "main-Theatre-dayore-x-point-5"
                handler: [
                  2347.636962890625
                  -107.22918701171875
                  100
                  -0.07867346704006195
                ]
              }
            ]
            connectors: [
              t: -15.42138163628988
              id: "main-Theatre-dayore-x-connector-31"
            ]

      "main-Theatre-dayore-y":
        pacs:
          _idCounter: 131
          chronologyLength: 3707.9029225020236
          chronology:
            points: [
              {
                t: 0
                value: 0
                id: "main-Theatre-dayore-y-point-31"
                handler: [
                  100
                  7.969348430633545
                  348.1642761230469
                  29.880441665649414
                ]
              }
              {
                t: 610.6558053481286
                value: 400
                id: "main-Theatre-dayore-y-point-32"
                handler: [
                  114.42811584472656
                  -224.36199951171875
                  152.96908569335938
                  -426.2698059082031
                ]
              }
              {
                t: 1303.2694708134388
                value: 400
                id: "main-Theatre-dayore-y-point-43"
                handler: [
                  163.37884521484375
                  -411.7742614746094
                  165.59405517578125
                  -413.9302062988281
                ]
              }
              {
                t: 1838.2407430298495
                value: 400
                id: "main-Theatre-dayore-y-point-55"
                handler: [
                  60.81508255004883
                  -257.5036315917969
                  151.46958923339844
                  -246.60792541503906
                ]
              }
              {
                t: 2329.680088524908
                value: 400
                id: "main-Theatre-dayore-y-point-65"
                handler: [
                  117.91069793701172
                  -198.9384307861328
                  99.86721801757812
                  -145.7039794921875
                ]
              }
              {
                t: 2631.9406671155757
                value: 400
                id: "main-Theatre-dayore-y-point-76"
                handler: [
                  45.991905212402344
                  -101.91941833496094
                  88.63763427734375
                  -91.50508117675781
                ]
              }
              {
                t: 2906.9296145552057
                value: 399.6574318720577
                id: "main-Theatre-dayore-y-point-79"
                handler: [
                  52.94340133666992
                  -75.22096252441406
                  74.19947052001953
                  -65.58009338378906
                ]
              }
              {
                t: 3120.5573919050016
                value: 400
                id: "main-Theatre-dayore-y-point-88"
                handler: [
                  14.575769424438477
                  -41.811134338378906
                  69.52061462402344
                  -44.471839904785156
                ]
              }
              {
                t: 3320.5493536792783
                value: 400
                id: "main-Theatre-dayore-y-point-83"
                handler: [
                  13.368638038635254
                  -31.62177276611328
                  72.86113739013672
                  -20.08669090270996
                ]
              }
              {
                t: 3524.084154897202
                value: 400
                id: "main-Theatre-dayore-y-point-128"
                handler: [
                  56.55192565917969
                  -21.984920501708984
                  73.26272583007812
                  -3.882613182067871
                ]
              }
              {
                t: 3707.9029225020236
                value: 400
                id: "main-Theatre-dayore-y-point-130"
                handler: [
                  106.68431854248047
                  -11.050765037536621
                  100
                  39.41060256958008
                ]
              }
            ]
            connectors: [
              {
                t: 0
                id: "main-Theatre-dayore-y-connector-39"
              }
              {
                t: 610.6558053481286
                id: "main-Theatre-dayore-y-connector-121"
              }
              {
                t: 1303.2694708134388
                id: "main-Theatre-dayore-y-connector-122"
              }
              {
                t: 1838.2407430298495
                id: "main-Theatre-dayore-y-connector-123"
              }
              {
                t: 2329.680088524908
                id: "main-Theatre-dayore-y-connector-124"
              }
              {
                t: 2631.9406671155757
                id: "main-Theatre-dayore-y-connector-125"
              }
              {
                t: 2906.9296145552057
                id: "main-Theatre-dayore-y-connector-126"
              }
              {
                t: 3120.5573919050016
                id: "main-Theatre-dayore-y-connector-127"
              }
              {
                t: 3320.5493536792783
                id: "main-Theatre-dayore-y-connector-129"
              }
              {
                t: 3524.084154897202
                id: "main-Theatre-dayore-y-connector-131"
              }
            ]

      "main-Theatre-svg-leftHandlerX":
        pacs:
          _idCounter: 2
          chronologyLength: 1244.7588639665562
          chronology:
            points: [
              {
                t: -9.000000000349246
                value: 420
                id: "main-Theatre-svg-leftHandlerX-point-0"
                handler: [
                  100
                  -0.0714285746216774
                  100
                  -0.0714285746216774
                ]
              }
              {
                t: 1244.7588639665562
                value: 150
                id: "main-Theatre-svg-leftHandlerX-point-1"
                handler: [
                  100
                  -0.07387755066156387
                  100
                  -0.07387755066156387
                ]
              }
            ]
            connectors: [
              t: -9.000000000349246
              id: "main-Theatre-svg-leftHandlerX-connector-2"
            ]

      "main-Theatre-svg-leftHandlerY":
        pacs:
          _idCounter: 2
          chronologyLength: 865.5734783984781
          chronology:
            points: [
              {
                t: -15.350901630801673
                value: 50
                id: "main-Theatre-svg-leftHandlerY-point-0"
                handler: [
                  100
                  1.7857142686843872
                  100
                  1.7857142686843872
                ]
              }
              {
                t: 865.5734783984781
                value: 20
                id: "main-Theatre-svg-leftHandlerY-point-1"
                handler: [
                  100
                  1.8698979616165161
                  100
                  1.8698979616165161
                ]
              }
            ]
            connectors: [
              t: -15.350901630801673
              id: "main-Theatre-svg-leftHandlerY-connector-2"
            ]

      "main-Theatre-svg-RightHandlerX":
        pacs:
          _idCounter: 2
          chronologyLength: 903.2097669978598
          chronology:
            points: [
              {
                t: -15.350901630801673
                value: 400
                id: "main-Theatre-svg-RightHandlerX-point-0"
                handler: [
                  100
                  0.7870370149612427
                  346.9881591796875
                  82.26851654052734
                ]
              }
              {
                t: 903.2097669978598
                value: 1500
                id: "main-Theatre-svg-RightHandlerX-point-1"
                handler: [
                  339.93133544921875
                  -56.23380661010742
                  111.76133728027344
                  -39.924957275390625
                ]
              }
            ]
            connectors: [
              t: -15.350901630801673
              id: "main-Theatre-svg-RightHandlerX-connector-2"
            ]

      "main-Theatre-svg-RightHandlerY":
        pacs:
          _idCounter: 2
          chronologyLength: 817.3519836305201
          chronology:
            points: [
              {
                t: -15.350901630801673
                value: 0
                id: "main-Theatre-svg-RightHandlerY-point-0"
                handler: [
                  100
                  1.6256157159805298
                  277.5962219238281
                  7.6054277420043945
                ]
              }
              {
                t: 817.3519836305201
                value: 150
                id: "main-Theatre-svg-RightHandlerY-point-1"
                handler: [
                  292.885986328125
                  0.24277418851852417
                  100
                  1.737727165222168
                ]
              }
            ]
            connectors: [
              t: -15.350901630801673
              id: "main-Theatre-svg-RightHandlerY-connector-2"
            ]

      "main-Theatre-svg-leftPointX":
        pacs:
          _idCounter: 2
          chronologyLength: 1163.1353851373403
          chronology:
            points: [
              {
                t: -15.350901630801673
                value: 0
                id: "main-Theatre-svg-leftPointX-point-0"
                handler: [
                  100
                  0.3571428656578064
                  100
                  0.3571428656578064
                ]
              }
              {
                t: 1163.1353851373403
                value: 400
                id: "main-Theatre-svg-leftPointX-point-1"
                handler: [
                  100
                  0.3780612349510193
                  100
                  0.3780612349510193
                ]
              }
            ]
            connectors: [
              t: -15.350901630801673
              id: "main-Theatre-svg-leftPointX-connector-2"
            ]

      "main-Theatre-svg-leftPointY":
        pacs:
          _idCounter: 2
          chronologyLength: 1183.1296634557616
          chronology:
            points: [
              {
                t: -15.350901630801673
                value: 0
                id: "main-Theatre-svg-leftPointY-point-0"
                handler: [
                  100
                  0.6428571343421936
                  100
                  0.6428571343421936
                ]
              }
              {
                t: 1183.1296634557616
                value: 100
                id: "main-Theatre-svg-leftPointY-point-1"
                handler: [
                  100
                  0.6901530623435974
                  100
                  0.6901530623435974
                ]
              }
            ]
            connectors: [
              t: -15.350901630801673
              id: "main-Theatre-svg-leftPointY-connector-2"
            ]

      "main-Theatre-svg-RightPointX":
        pacs:
          _idCounter: 2
          chronologyLength: 1270.163580841832
          chronology:
            points: [
              {
                t: -15.350901630801673
                value: 1500
                id: "main-Theatre-svg-RightPointX-point-0"
                handler: [
                  100
                  0.0714285746216774
                  100
                  0.0714285746216774
                ]
              }
              {
                t: 1270.163580841832
                value: 1300
                id: "main-Theatre-svg-RightPointX-point-1"
                handler: [
                  100
                  0.0769897997379303
                  100
                  0.0769897997379303
                ]
              }
            ]
            connectors: [
              t: -15.350901630801673
              id: "main-Theatre-svg-RightPointX-connector-2"
            ]

      "main-Theatre-svg-RightPointY":
        pacs:
          _idCounter: 2
          chronologyLength: 1273.6919828980242
          chronology:
            points: [
              {
                t: -15.350901630801673
                value: 0
                id: "main-Theatre-svg-RightPointY-point-0"
                handler: [
                  100
                  0.4285714328289032
                  100
                  0.4285714328289032
                ]
              }
              {
                t: 1273.6919828980242
                value: 200
                id: "main-Theatre-svg-RightPointY-point-1"
                handler: [
                  100
                  0.4555101990699768
                  100
                  0.4555101990699768
                ]
              }
            ]
            connectors: [
              t: -15.350901630801673
              id: "main-Theatre-svg-RightPointY-connector-2"
            ]

      "main-Theatre-dayore-rotateX":
        pacs:
          _idCounter: 2
          chronologyLength: 869.4527820856755
          chronology:
            points: [
              {
                t: -14.999999999796273
                value: 0
                id: "main-Theatre-dayore-rotateX-point-0"
                handler: [
                  100
                  1.3571428060531616
                  175.2725830078125
                  0.022140052169561386
                ]
              }
              {
                t: 869.4527820856755
                value: 0
                id: "main-Theatre-dayore-rotateX-point-1"
                handler: [
                  243.4883575439453
                  0.04854555428028107
                  100
                  1.3910714387893677
                ]
              }
            ]
            connectors: [
              t: -14.999999999796273
              id: "main-Theatre-dayore-rotateX-connector-2"
            ]

      "main-Theatre-dayore-rotateY":
        pacs:
          _idCounter: 2
          chronologyLength: 874.7817777689219
          chronology:
            points: [
              {
                t: -15.551674410203304
                value: 0
                id: "main-Theatre-dayore-rotateY-point-0"
                handler: [
                  100
                  1.5
                  185.8577880859375
                  0.04007137939333916
                ]
              }
              {
                t: 874.7817777689219
                value: 0
                id: "main-Theatre-dayore-rotateY-point-1"
                handler: [
                  231.7270050048828
                  -0.023173470050096512
                  100
                  1.6221429109573364
                ]
              }
            ]
            connectors: [
              t: -15.551674410203304
              id: "main-Theatre-dayore-rotateY-connector-2"
            ]

      "main-Theatre-dayore-rotateZ":
        pacs:
          _idCounter: 62
          chronologyLength: 4461.962814038917
          chronology:
            points: [
              {
                t: -10.230399080784991
                value: 0
                id: "main-Theatre-dayore-rotateZ-point-10"
                handler: [
                  100
                  -0.19455252587795258
                  323.9246826171875
                  61.130062103271484
                ]
              }
              {
                t: 611.4112513646097
                value: 60
                id: "main-Theatre-dayore-rotateZ-point-11"
                handler: [
                  43.183284759521484
                  2.9417104721069336
                  461.2179870605469
                  79.2606201171875
                ]
              }
              {
                t: 1268.1946600607746
                value: 120
                id: "main-Theatre-dayore-rotateZ-point-49"
                handler: [
                  53.20977020263672
                  -1.5256744623184204
                  267.10797119140625
                  49.440399169921875
                ]
              }
              {
                t: 1774.8666475975326
                value: 180
                id: "main-Theatre-dayore-rotateZ-point-25"
                handler: [
                  29.81464195251465
                  2.8572144508361816
                  314.1629943847656
                  58.98691940307617
                ]
              }
              {
                t: 2296.243515713025
                value: 240
                id: "main-Theatre-dayore-rotateZ-point-27"
                handler: [
                  46.790225982666016
                  2.620630979537964
                  133.42160034179688
                  46.04533386230469
                ]
              }
              {
                t: 2620.4329785797095
                value: 280
                id: "main-Theatre-dayore-rotateZ-point-19"
                handler: [
                  20.052955627441406
                  -4.118444442749023
                  33.15690994262695
                  0.5659582018852234
                ]
              }
              {
                t: 4149.0679647535935
                value: 450
                id: "main-Theatre-dayore-rotateZ-point-61"
                handler: [
                  851.98583984375
                  -42.26447677612305
                  133.42160034179688
                  -0.40849238634109497
                ]
              }
              {
                t: 4461.962814038917
                value: 450
                id: "main-Theatre-dayore-rotateZ-point-33"
                handler: [
                  136.76394653320312
                  0.7500351071357727
                  100
                  4.420368194580078
                ]
              }
            ]
            connectors: [
              {
                t: -10.230399080784991
                id: "main-Theatre-dayore-rotateZ-connector-12"
              }
              {
                t: 611.4112513646097
                id: "main-Theatre-dayore-rotateZ-connector-36"
              }
              {
                t: 1268.1946600607746
                id: "main-Theatre-dayore-rotateZ-connector-50"
              }
              {
                t: 1774.8666475975326
                id: "main-Theatre-dayore-rotateZ-connector-51"
              }
              {
                t: 2296.243515713025
                id: "main-Theatre-dayore-rotateZ-connector-53"
              }
              {
                t: 2620.4329785797095
                id: "main-Theatre-dayore-rotateZ-connector-60"
              }
              {
                t: 4149.0679647535935
                id: "main-Theatre-dayore-rotateZ-connector-62"
              }
            ]

      "main-Theatre-dayore-release":
        pacs:
          _idCounter: 3
          chronologyLength: 1058.092857524296
          chronology:
            points: [
              {
                t: -18.069769614276638
                value: 0
                id: "main-Theatre-dayore-release-point-0"
                handler: [
                  100
                  -0.3571428656578064
                  183.50550842285156
                  0.006928532849997282
                ]
              }
              {
                t: 1058.092857524296
                value: 2
                id: "main-Theatre-dayore-release-point-1"
                handler: [
                  239.95994567871094
                  -0.008235657587647438
                  103.52840423583984
                  0.07357347756624222
                ]
              }
            ]
            connectors: [
              t: -18.069769614276638
              id: "main-Theatre-dayore-release-connector-3"
            ]

  mainBox:
    height: 352
    _isVisible: false

  timelineEditor:
    scrollTop: 0
}