{
  timeControl:
    duration: 12231.876119563065
    t: 7311.828542093041
    _focus:
      from: 4087.5364922157983
      to: 9983.538717219582

    _lastPlayedTickAt: 0

  workspaces:
    workspaces: [
      name: "WORKSPACE HATMAN"
      propHolders: [
        {
          id: "main-PageObjects-GoPositions-x"
          _expanded: false
          actorPropId: "main-PageObjects-GoPositions-x"
          _height: 142
        }
        {
          id: "main-PageObjects-loggedParams-Opacity"
          _expanded: true
          actorPropId: "main-PageObjects-loggedParams-Opacity"
          _height: 93
        }
        {
          id: "main-PageObjects-loggedParams-RotateY"
          _expanded: true
          actorPropId: "main-PageObjects-loggedParams-RotateY"
          _height: 180
        }
        {
          id: "main-Characters-AwesomeType-Password"
          _expanded: true
          actorPropId: "main-Characters-AwesomeType-Password"
          _height: 180
        }
        {
          id: "main-Characters-AwesomeType-Username"
          _expanded: true
          actorPropId: "main-Characters-AwesomeType-Username"
          _height: 180
        }
        {
          id: "main-PageObjects-BoxPositions-x"
          _expanded: true
          actorPropId: "main-PageObjects-BoxPositions-x"
          _height: 180
        }
      ]
    ]
    _activeWorkspaceName: "WORKSPACE HATMAN"

  timeline:
    _allProps:
      "main-Directorals-Rectanguli-width":
        pacs:
          _idCounter: 24
          chronologyLength: 966.6006704360109
          chronology:
            points: [
              {
                t: -0.7129396976106182
                value: 73.89064101856583
                id: "main-Directorals-Rectanguli-width-point-0"
                handler: [
                  100
                  6.714285850524902
                  100
                  6.714285850524902
                ]
              }
              {
                t: -0.535175878735019
                value: 74.54501472881863
                id: "main-Directorals-Rectanguli-width-point-1"
                handler: [
                  100
                  7.13153076171875
                  100
                  7.13153076171875
                ]
              }
              {
                t: 568.7660728828847
                value: 82.45708360195995
                id: "main-Directorals-Rectanguli-width-point-5"
                handler: [
                  100
                  7.99008846282959
                  118.26203918457031
                  200.6618194580078
                ]
              }
              {
                t: 966.6006704360109
                value: 96.06124031578995
                id: "main-Directorals-Rectanguli-width-point-4"
                handler: [
                  130.44317626953125
                  188.49920654296875
                  52.17725372314453
                  68.55075073242188
                ]
              }
            ]
            connectors: [
              {
                t: -0.7129396976106182
                id: "main-Directorals-Rectanguli-width-connector-3"
              }
              {
                t: 568.7660728828847
                id: "main-Directorals-Rectanguli-width-connector-24"
              }
            ]

      "main-Characters-AwesomeType-Animation":
        pacs:
          _idCounter: 14
          chronologyLength: 1234.064173948749
          chronology:
            points: [
              {
                t: 314.5627111340408
                value: 0
                id: "main-Characters-AwesomeType-Animation-point-0"
                handler: [
                  100
                  1.5901060104370117
                  155.4016876220703
                  0.09133429080247879
                ]
              }
              {
                t: 1234.064173948749
                value: 1
                id: "main-Characters-AwesomeType-Animation-point-1"
                handler: [
                  185.47763061523438
                  -0.09523949772119522
                  100
                  1.7243940830230713
                ]
              }
            ]
            connectors: [
              t: 314.5627111340408
              id: "main-Characters-AwesomeType-Animation-connector-14"
            ]

      "main-Characters-AwesomeType-Username":
        pacs:
          _idCounter: 17
          chronologyLength: 5648.634699594674
          chronology:
            points: [
              {
                t: 0
                value: -0.22803925315184254
                id: "main-Characters-AwesomeType-Username-point-4"
                handler: [
                  100
                  -0.03310484066605568
                  100
                  -0.03310484066605568
                ]
              }
              {
                t: 1224.021965401735
                value: 0
                id: "main-Characters-AwesomeType-Username-point-0"
                handler: [
                  471.739990234375
                  0.0017805431270971894
                  574.90771484375
                  0.046588122844696045
                ]
              }
              {
                t: 2078.918358209926
                value: 0.4701654109700907
                id: "main-Characters-AwesomeType-Username-point-12"
                handler: [
                  100
                  0.07041844725608826
                  100
                  0.07041844725608826
                ]
              }
              {
                t: 2540.4483797375847
                value: 0.9235773039386439
                id: "main-Characters-AwesomeType-Username-point-14"
                handler: [
                  100
                  0.09235773235559464
                  100
                  0.09235773235559464
                ]
              }
              {
                t: 3186.9905247311845
                value: 1.2
                id: "main-Characters-AwesomeType-Username-point-1"
                handler: [
                  520.1198120117188
                  -0.5772364139556885
                  454.5085754394531
                  0.5865225195884705
                ]
              }
              {
                t: 5648.634699594674
                value: 1.4594646478069528
                id: "main-Characters-AwesomeType-Username-point-10"
                handler: [
                  100
                  0.1459464579820633
                  100
                  0.1459464579820633
                ]
              }
            ]
            connectors: [
              {
                t: 0
                id: "main-Characters-AwesomeType-Username-connector-9"
              }
              {
                t: 1224.021965401735
                id: "main-Characters-AwesomeType-Username-connector-16"
              }
              {
                t: 2078.918358209926
                id: "main-Characters-AwesomeType-Username-connector-17"
              }
              {
                t: 2540.4483797375847
                id: "main-Characters-AwesomeType-Username-connector-15"
              }
              {
                t: 3186.9905247311845
                id: "main-Characters-AwesomeType-Username-connector-11"
              }
            ]

      "main-Characters-AwesomeType-Password":
        pacs:
          _idCounter: 21
          chronologyLength: 5639.567870221328
          chronology:
            points: [
              {
                t: -4.5334146866730975
                value: -0.6883821451509371
                id: "main-Characters-AwesomeType-Password-point-15"
                handler: [
                  100
                  -0.05514490604400635
                  100
                  -0.05514490604400635
                ]
              }
              {
                t: 3372.8605268847814
                value: -0.2
                id: "main-Characters-AwesomeType-Password-point-9"
                handler: [
                  100
                  0.049276191741228104
                  100
                  -0.020005425438284874
                ]
              }
              {
                t: 4406.4790754462465
                value: 0
                id: "main-Characters-AwesomeType-Password-point-0"
                handler: [
                  109.06682586669922
                  -0.015365233644843102
                  140.5781707763672
                  0.4155762791633606
                ]
              }
              {
                t: 4767.832396675415
                value: 0.3821042011193212
                id: "main-Characters-AwesomeType-Password-point-18"
                handler: [
                  100
                  0.0382104218006134
                  100
                  0.0382104218006134
                ]
              }
              {
                t: 5189.229372852842
                value: 0.7573146185574093
                id: "main-Characters-AwesomeType-Password-point-20"
                handler: [
                  100
                  0.07573146373033524
                  100
                  0.07573146373033524
                ]
              }
              {
                t: 5639.567870221328
                value: 1.2
                id: "main-Characters-AwesomeType-Password-point-2"
                handler: [
                  142.7335968017578
                  -0.5145452618598938
                  100
                  0.0768367350101471
                ]
              }
            ]
            connectors: [
              {
                t: -4.5334146866730975
                id: "main-Characters-AwesomeType-Password-connector-17"
              }
              {
                t: 3372.8605268847814
                id: "main-Characters-AwesomeType-Password-connector-14"
              }
              {
                t: 4406.4790754462465
                id: "main-Characters-AwesomeType-Password-connector-13"
              }
              {
                t: 4767.832396675415
                id: "main-Characters-AwesomeType-Password-connector-19"
              }
              {
                t: 5189.229372852842
                id: "main-Characters-AwesomeType-Password-connector-21"
              }
            ]

      "main-PageObjects-BoxPositions-x":
        pacs:
          _idCounter: 12
          chronologyLength: 6237.7051791800095
          chronology:
            points: [
              {
                t: 5729.5532889006645
                value: 0
                id: "main-PageObjects-BoxPositions-x-point-0"
                handler: [
                  100
                  -1.5
                  321.3527526855469
                  -735.4359741210938
                ]
              }
              {
                t: 6237.7051791800095
                value: -668.0062227675132
                id: "main-PageObjects-BoxPositions-x-point-10"
                handler: [
                  149.4095001220703
                  72.73909759521484
                  158.44773864746094
                  -66.80062103271484
                ]
              }
            ]
            connectors: [
              t: 5729.5532889006645
              id: "main-PageObjects-BoxPositions-x-connector-12"
            ]

      "main-PageObjects-GoPositions-x":
        pacs:
          _idCounter: 28
          chronologyLength: 7231.876119563066
          chronology:
            points: [
              {
                t: 5688.140245244056
                value: 0
                id: "main-PageObjects-GoPositions-x-point-0"
                handler: [
                  63.73876953125
                  -307.4816589355469
                  36.749977111816406
                  -20.377634048461914
                ]
              }
              {
                t: 5735.15138782227
                value: -20
                id: "main-PageObjects-GoPositions-x-point-6"
                handler: [
                  33.897125244140625
                  0.4370059072971344
                  308.63885498046875
                  -844.192138671875
                ]
              }
              {
                t: 6481.34090900813
                value: -750
                id: "main-PageObjects-GoPositions-x-point-4"
                handler: [
                  79.15626525878906
                  27.294702529907227
                  155.8033447265625
                  31.9013671875
                ]
              }
            ]
            connectors: [
              {
                t: 5688.140245244056
                id: "main-PageObjects-GoPositions-x-connector-27"
              }
              {
                t: 5735.15138782227
                id: "main-PageObjects-GoPositions-x-connector-26"
              }
            ]

      "main-PageObjects-loggedParams-Opacity":
        pacs:
          _idCounter: 3
          chronologyLength: 7227.695794541435
          chronology:
            points: [
              {
                t: 6197.245676709511
                value: -0.03699593049175334
                id: "main-PageObjects-loggedParams-Opacity-point-0"
                handler: [
                  100
                  1.9607843160629272
                  327.82769775390625
                  0.9326039552688599
                ]
              }
              {
                t: 7227.695794541435
                value: 1
                id: "main-PageObjects-loggedParams-Opacity-point-1"
                handler: [
                  687.3356323242188
                  -0.29552263021469116
                  231.68023681640625
                  -0.19665713608264923
                ]
              }
            ]
            connectors: [
              t: 6197.245676709511
              id: "main-PageObjects-loggedParams-Opacity-connector-3"
            ]

      "main-PageObjects-loggedParams-RotateY":
        pacs:
          _idCounter: 3
          chronologyLength: 7204.704006922468
          chronology:
            points: [
              {
                t: 6201.426001731142
                value: -83.42650146698465
                id: "main-PageObjects-loggedParams-RotateY-point-0"
                handler: [
                  100
                  2.142857074737549
                  319.79486083984375
                  97.70690155029297
                ]
              }
              {
                t: 7204.704006922468
                value: 22.760204039301193
                id: "main-PageObjects-loggedParams-RotateY-point-1"
                handler: [
                  263.03265380859375
                  0.7340930104255676
                  100
                  2.2760202884674072
                ]
              }
            ]
            connectors: [
              t: 6201.426001731142
              id: "main-PageObjects-loggedParams-RotateY-connector-3"
            ]

  mainBox:
    height: 322
    _isVisible: false
}