{
  workspaces:
    workspaces: [
      {
        name: "Hi There - gelobi"
        propHolders: [
          {
            id: "the-panels-Hi there-Gelobi in Grotesk-X"
            _expanded: true
            actorPropId: "the-panels-Hi there-Gelobi in Grotesk-X"
            _height: 112
          }
          {
            id: "the-panels-Hi there-Web, Art, Tech-X"
            _expanded: true
            actorPropId: "the-panels-Hi there-Web, Art, Tech-X"
            _height: 130
          }
          {
            id: "the-panels-Hi there-Cover-X"
            _expanded: true
            actorPropId: "the-panels-Hi there-Cover-X"
            _height: 78
          }
          {
            id: "the-panels-Hi there-Web, Art, Tech-Opacity"
            _expanded: true
            actorPropId: "the-panels-Hi there-Web, Art, Tech-Opacity"
            _height: 180
          }
        ]
      }
      {
        name: "Hi there - web art, ...<br>"
        propHolders: [
          {
            id: "the-panels-Hi there-Web, Art, Tech-Opacity"
            _expanded: true
            actorPropId: "the-panels-Hi there-Web, Art, Tech-Opacity"
            _height: 101
          }
          {
            id: "the-panels-Hi there-Web, Art, Tech-X"
            _expanded: true
            actorPropId: "the-panels-Hi there-Web, Art, Tech-X"
            _height: 155
          }
          {
            id: "the-panels-Hi there-Cover-X"
            _expanded: true
            actorPropId: "the-panels-Hi there-Cover-X"
            _height: 139
          }
          {
            id: "the-panels-Hi there-Cover-Scale X"
            _expanded: true
            actorPropId: "the-panels-Hi there-Cover-Scale X"
            _height: 94
          }
          {
            id: "the-panels-Hi there-Gelobi in Grotesk-X"
            _expanded: false
            actorPropId: "the-panels-Hi there-Gelobi in Grotesk-X"
            _height: 180
          }
        ]
      }
      {
        name: "Panels bg"
        propHolders: [
          {
            id: "the-panels-Panels - Background-Image-Opacity"
            _expanded: true
            actorPropId: "the-panels-Panels - Background-Image-Opacity"
            _height: 93
          }
          {
            id: "the-panels-Panels - Background-Image-Z"
            _expanded: true
            actorPropId: "the-panels-Panels - Background-Image-Z"
            _height: 112
          }
          {
            id: "the-panels-Panels - Background-Image-Rotation Y"
            _expanded: true
            actorPropId: "the-panels-Panels - Background-Image-Rotation Y"
            _height: 180
          }
        ]
      }
      {
        name: "panels login"
        propHolders: [
          {
            id: "the-panels-Panels - Login-Platform-Rotation Y"
            _expanded: true
            actorPropId: "the-panels-Panels - Login-Platform-Rotation Y"
            _height: 90
          }
          {
            id: "the-panels-Panels - Login-Platform-Local X"
            _expanded: true
            actorPropId: "the-panels-Panels - Login-Platform-Local X"
            _height: 85
          }
          {
            id: "the-panels-Panels - Login-Platform-Local Z"
            _expanded: true
            actorPropId: "the-panels-Panels - Login-Platform-Local Z"
            _height: 93
          }
          {
            id: "the-panels-Panels - Login-Platform-Opacity"
            _expanded: true
            actorPropId: "the-panels-Panels - Login-Platform-Opacity"
            _height: 180
          }
          {
            id: "the-panels-Panels - Login-Platform-Transform Origin X"
            _expanded: true
            actorPropId: "the-panels-Panels - Login-Platform-Transform Origin X"
            _height: 180
          }
        ]
      }
    ]
    _activeWorkspaceName: "panels login"

  timeControl:
    t: 6977.214202852561
    _focus:
      from: 5480.214202835565
      to: 8075.97002529522

    _lastPlayedTickAt: 0

  timeline:
    _allProps:
      "the-panels-Background-Image-Opacity":
        pacs:
          _idCounter: 10
          chronologyLength: 0
          chronology:
            points: [
              t: 0
              value: 0
              id: "the-panels-Background-Image-Opacity-point-5"
              handler: [
                100
                0.10938921570777893
                100
                0.10938921570777893
              ]
            ]
            connectors: []

      "the-panels-Background-Image-Rotation X":
        pacs:
          _idCounter: 7
          chronologyLength: 1068.8992877379053
          chronology:
            points: []
            connectors: []

      "the-panels-Background-Image-Rotation Y":
        pacs:
          _idCounter: 11
          chronologyLength: 1845.6770310008546
          chronology:
            points: []
            connectors: []

      "the-panels-Background-Image-Z":
        pacs:
          _idCounter: 11
          chronologyLength: 0
          chronology:
            points: [
              t: 0
              value: -50
              id: "the-panels-Background-Image-Z-point-6"
              handler: [
                100
                1
                100
                1
              ]
            ]
            connectors: []

      "the-panels-Background-Image-Y":
        pacs:
          _idCounter: 6
          chronologyLength: 393.07773707958165
          chronology:
            points: []
            connectors: []

      "the-panels-Background-Image-X":
        pacs:
          _idCounter: 2
          chronologyLength: 1057.280817219015
          chronology:
            points: []
            connectors: []

      "the-panels-Hi there-Gelobi in Grotesk-Opacity":
        pacs:
          _idCounter: 11
          chronologyLength: 760.1799282359633
          chronology:
            points: []
            connectors: []

      "the-panels-Hi there-Gelobi in Grotesk-X":
        pacs:
          _idCounter: 19
          chronologyLength: 2786.807996193139
          chronology:
            points: [
              {
                t: 700.4277941388133
                value: 44.051644407328865
                id: "the-panels-Hi there-Gelobi in Grotesk-X-point-0"
                handler: [
                  100
                  2.0714285373687744
                  28.62934112548828
                  -29.519184112548828
                ]
              }
              {
                t: 1050.6416912082198
                value: 0
                id: "the-panels-Hi there-Gelobi in Grotesk-X-point-1"
                handler: [
                  237.7618408203125
                  1.505251169204712
                  107.27494812011719
                  -3.4581656455993652
                ]
              }
              {
                t: 2369.150035547009
                value: 0
                id: "the-panels-Hi there-Gelobi in Grotesk-X-point-10"
                handler: [
                  100
                  0.07916548103094101
                  325.79595947265625
                  -0.30809614062309265
                ]
              }
              {
                t: 2786.807996193139
                value: -217
                id: "the-panels-Hi there-Gelobi in Grotesk-X-point-11"
                handler: [
                  68.95573425292969
                  -1.681751012802124
                  100
                  -0.6291379332542419
                ]
              }
            ]
            connectors: [
              {
                t: 700.4277941388133
                id: "the-panels-Hi there-Gelobi in Grotesk-X-connector-9"
              }
              {
                t: 2369.150035547009
                id: "the-panels-Hi there-Gelobi in Grotesk-X-connector-19"
              }
            ]

      "the-panels-Hi there-Gelobi in Grotesk-Width":
        pacs:
          _idCounter: 16
          chronologyLength: 1007.471595609666
          chronology:
            points: [
              {
                t: 707.0511436212175
                value: 0
                id: "the-panels-Hi there-Gelobi in Grotesk-Width-point-12"
                handler: [
                  100
                  2.0714285373687744
                  100
                  2.0714285373687744
                ]
              }
              {
                t: 1007.471595609666
                value: 150
                id: "the-panels-Hi there-Gelobi in Grotesk-Width-point-13"
                handler: [
                  100
                  0.14056122303009033
                  100
                  0.14056122303009033
                ]
              }
            ]
            connectors: [
              t: 707.0511436212175
              id: "the-panels-Hi there-Gelobi in Grotesk-Width-connector-16"
            ]

      "the-panels-Hi there-Gelobi in Grotesk-Height":
        pacs:
          _idCounter: 0
          chronologyLength: 112.84936565511535
          chronology:
            points: [
              t: 112.84936565511535
              value: 54
              id: "the-panels-Hi there-Gelobi in Grotesk-Height-point-0"
              handler: [
                100
                4.357142925262451
                100
                4.357142925262451
              ]
            ]
            connectors: []

      "the-panels-Panels - Background-Image-Width":
        pacs:
          _idCounter: 0
          chronologyLength: 255.59057488719577
          chronology:
            points: []
            connectors: []

      "the-panels-Panels - Background-Image-Opacity":
        pacs:
          _idCounter: 5
          chronologyLength: 6035.189928265559
          chronology:
            points: [
              {
                t: 278.8275159249763
                value: 0
                id: "the-panels-Panels - Background-Image-Opacity-point-1"
                handler: [
                  100
                  0.05741581693291664
                  100
                  0.05741581693291664
                ]
              }
              {
                t: 5388.9206198705
                value: 0
                id: "the-panels-Panels - Background-Image-Opacity-point-2"
                handler: [
                  39.727638244628906
                  0.2507150173187256
                  76.2491226196289
                  0.7958371639251709
                ]
              }
              {
                t: 6035.189928265559
                value: 1
                id: "the-panels-Panels - Background-Image-Opacity-point-3"
                handler: [
                  200.9412384033203
                  -0.11821099370718002
                  4.3119120597839355
                  -0.36485162377357483
                ]
              }
            ]
            connectors: [
              t: 5388.9206198705
              id: "the-panels-Panels - Background-Image-Opacity-connector-5"
            ]

      "the-panels-Hi there-Cover-Scale X":
        pacs:
          _idCounter: 1
          chronologyLength: 2320.3502639821872
          chronology:
            points: [
              {
                t: 349.35121912151675
                value: 3
                id: "the-panels-Hi there-Cover-Scale X-point-0"
                handler: [
                  100
                  0.7142857313156128
                  100
                  0.7142857313156128
                ]
              }
              {
                t: 2320.3502639821872
                value: 3.5
                id: "the-panels-Hi there-Cover-Scale X-point-1"
                handler: [
                  114.84429931640625
                  22.610427856445312
                  100
                  30.158891677856445
                ]
              }
            ]
            connectors: []

      "the-panels-Hi there-Cover-Scale Y":
        pacs:
          _idCounter: 0
          chronologyLength: 349.53756416398335
          chronology:
            points: [
              t: 349.53756416398335
              value: 0.9
              id: "the-panels-Hi there-Cover-Scale Y-point-0"
              handler: [
                100
                0.7142857313156128
                84.7507553100586
                0.680272102355957
              ]
            ]
            connectors: []

      "the-panels-Hi there-Cover-X":
        pacs:
          _idCounter: 18
          chronologyLength: 2894.983502403745
          chronology:
            points: [
              {
                t: 348.07564246790434
                value: 900
                id: "the-panels-Hi there-Cover-X-point-0"
                handler: [
                  68.23074340820312
                  -0.8062924742698669
                  100
                  -0.9285714030265808
                ]
              }
              {
                t: 763.4299118781174
                value: 900
                id: "the-panels-Hi there-Cover-X-point-1"
                handler: [
                  28.462974548339844
                  33.553611755371094
                  105.17927551269531
                  149.75473022460938
                ]
              }
              {
                t: 1034.4393169307755
                value: 1070
                id: "the-panels-Hi there-Cover-X-point-2"
                handler: [
                  133.32608032226562
                  -8.207140922546387
                  33.31294250488281
                  -27.288944244384766
                ]
              }
              {
                t: 2318.6794207546536
                value: 1055
                id: "the-panels-Hi there-Cover-X-point-13"
                handler: [
                  100
                  115.2065658569336
                  100
                  115.2065658569336
                ]
              }
              {
                t: 2656.375285173321
                value: 1055
                id: "the-panels-Hi there-Cover-X-point-7"
                handler: [
                  100
                  93.21641540527344
                  77.63075256347656
                  125.29246520996094
                ]
              }
              {
                t: 2894.983502403745
                value: 1185.3163265415599
                id: "the-panels-Hi there-Cover-X-point-8"
                handler: [
                  101.8631820678711
                  20.16519546508789
                  44.225372314453125
                  -88.57585906982422
                ]
              }
            ]
            connectors: [
              {
                t: 763.4299118781174
                id: "the-panels-Hi there-Cover-X-connector-15"
              }
              {
                t: 2656.375285173321
                id: "the-panels-Hi there-Cover-X-connector-18"
              }
            ]

      "the-panels-Hi there-Cover-Y":
        pacs:
          _idCounter: 0
          chronologyLength: 348.66964170103444
          chronology:
            points: [
              t: 348.66964170103444
              value: 400
              id: "the-panels-Hi there-Cover-Y-point-0"
              handler: [
                100
                -0.0714285746216774
                100
                -0.0714285746216774
              ]
            ]
            connectors: []

      "the-panels-Hi there-Web, Art, Tech-X":
        pacs:
          _idCounter: 9
          chronologyLength: 2785.557712026402
          chronology:
            points: [
              {
                t: 2370.937879627837
                value: 220
                id: "the-panels-Hi there-Web, Art, Tech-X-point-1"
                handler: [
                  82.18684387207031
                  -74.80045318603516
                  231.03604125976562
                  76.13335418701172
                ]
              }
              {
                t: 2785.557712026402
                value: 0
                id: "the-panels-Hi there-Web, Art, Tech-X-point-2"
                handler: [
                  67.74625396728516
                  92.66840362548828
                  100
                  21.8852481842041
                ]
              }
            ]
            connectors: [
              t: 2370.937879627837
              id: "the-panels-Hi there-Web, Art, Tech-X-connector-9"
            ]

      "the-panels-Hi there-Web, Art, Tech-Opacity":
        pacs:
          _idCounter: 6
          chronologyLength: 2571.0324947164263
          chronology:
            points: [
              {
                t: 199.78080983670696
                value: 0
                id: "the-panels-Hi there-Web, Art, Tech-Opacity-point-0"
                handler: [
                  100
                  0.12857143580913544
                  100
                  0.12857143580913544
                ]
              }
              {
                t: 2571.0324947164263
                value: 0
                id: "the-panels-Hi there-Web, Art, Tech-Opacity-point-6"
                handler: [
                  164.90869140625
                  0.05747959017753601
                  100
                  0.10707142949104309
                ]
              }
            ]
            connectors: []

      "the-panels-Hi there-Cover-Z":
        pacs:
          _idCounter: 0
          chronologyLength: 359.2320229338195
          chronology:
            points: [
              t: 359.2320229338195
              value: 1
              id: "the-panels-Hi there-Cover-Z-point-0"
              handler: [
                100
                0.5
                100
                0.5
              ]
            ]
            connectors: []

      "the-panels-Panels - Background-Image-Z":
        pacs:
          _idCounter: 7
          chronologyLength: 6132.122756010916
          chronology:
            points: [
              {
                t: 5383.524052406992
                value: -100
                id: "the-panels-Panels - Background-Image-Z-point-0"
                handler: [
                  100
                  5.642857074737549
                  82.41178131103516
                  90.69523620605469
                ]
              }
              {
                t: 6132.122756010916
                value: 1
                id: "the-panels-Panels - Background-Image-Z-point-1"
                handler: [
                  256.80908203125
                  -6.920833110809326
                  100
                  0.10000000149011612
                ]
              }
            ]
            connectors: [
              t: 5383.524052406992
              id: "the-panels-Panels - Background-Image-Z-connector-7"
            ]

      "the-panels-Panels - Background-Image-Rotation Y":
        pacs:
          _idCounter: 3
          chronologyLength: 5794.244206379453
          chronology:
            points: []
            connectors: []

      "the-panels-Panels - Login-Platform-Opacity":
        pacs:
          _idCounter: 6
          chronologyLength: 6879.284938521617
          chronology:
            points: [
              {
                t: 6193.0863299527355
                value: 0
                id: "the-panels-Panels - Login-Platform-Opacity-point-3"
                handler: [
                  73.60774230957031
                  0.2339949756860733
                  264.5634765625
                  0.6017444729804993
                ]
              }
              {
                t: 6879.284938521617
                value: 1
                id: "the-panels-Panels - Login-Platform-Opacity-point-4"
                handler: [
                  290.9557189941406
                  -0.10987026989459991
                  117.07733917236328
                  -0.19626222550868988
                ]
              }
            ]
            connectors: [
              t: 6193.0863299527355
              id: "the-panels-Panels - Login-Platform-Opacity-connector-6"
            ]

      "the-panels-Panels - Login-Button-Opacity":
        pacs:
          _idCounter: 6
          chronologyLength: 6511.345865601196
          chronology:
            points: [
              t: 6511.345865601196
              value: 0
              id: "the-panels-Panels - Login-Button-Opacity-point-6"
              handler: [
                100
                1.0714285373687744
                100
                1.0714285373687744
              ]
            ]
            connectors: []

      "the-panels-Panels - Login-Forgot-Opacity":
        pacs:
          _idCounter: 6
          chronologyLength: 6516.003322220455
          chronology:
            points: [
              t: 6516.003322220455
              value: 0
              id: "the-panels-Panels - Login-Forgot-Opacity-point-0"
              handler: [
                100
                0.11500000208616257
                100
                0.11500000208616257
              ]
            ]
            connectors: []

      "the-panels-Panels - Login-UN Container-Opacity":
        pacs:
          _idCounter: 3
          chronologyLength: 6514.450836680693
          chronology:
            points: []
            connectors: []

      "the-panels-Panels - Login-PW Container-Opacity":
        pacs:
          _idCounter: 3
          chronologyLength: 6520.660778839688
          chronology:
            points: []
            connectors: []

      "the-panels-Panels - Login-Platform-Z":
        pacs:
          _idCounter: 5
          chronologyLength: 6846.682742186903
          chronology:
            points: []
            connectors: []

      "the-panels-Panels - Login-Platform-Rotation Y":
        pacs:
          _idCounter: 5
          chronologyLength: 6862.207597584382
          chronology:
            points: [
              {
                t: 6194.638815492484
                value: 26.183673483984798
                id: "the-panels-Panels - Login-Platform-Rotation Y-point-0"
                handler: [
                  100
                  1.6428571939468384
                  126.39225769042969
                  -12.115816116333008
                ]
              }
              {
                t: 6862.207597584382
                value: 0
                id: "the-panels-Panels - Login-Platform-Rotation Y-point-1"
                handler: [
                  284.74578857421875
                  0.24346931278705597
                  100
                  2.098571538925171
                ]
              }
            ]
            connectors: [
              t: 6194.638815492484
              id: "the-panels-Panels - Login-Platform-Rotation Y-connector-5"
            ]

      "the-panels-Panels - Login-Platform-X":
        pacs:
          _idCounter: 4
          chronologyLength: 6883.942395140862
          chronology:
            points: []
            connectors: []

      "the-panels-Panels - Login-Platform-Local Z":
        pacs:
          _idCounter: 2
          chronologyLength: 6874.62748190237
          chronology:
            points: []
            connectors: []

      "the-panels-Panels - Login-Platform-Local X":
        pacs:
          _idCounter: 2
          chronologyLength: 6885.494880680611
          chronology:
            points: []
            connectors: []

      "the-panels-Panels - Login-Platform-Transform Origin X":
        pacs:
          _idCounter: 0
          chronologyLength: 6195.910036659669
          chronology:
            points: [
              t: 6195.910036659669
              value: 680
              id: "the-panels-Panels - Login-Platform-Transform Origin X-point-0"
              handler: [
                39.45306396484375
                0.007916701957583427
                31.690637588500977
                0.008163265883922577
              ]
            ]
            connectors: []

  mainBox:
    height: 452
    _isVisible: true

  timelineEditor:
    scrollTop: 0
    guides:
      _list: [6194.638815492494]
}