@import "./general"

body

	background: black
	background: url("../../images/blurred-snowy-park.jpg")
	background-size: cover
	overflow: hidden
	// text-align: center

	margin: 0
	padding: 0


.theatre

	margin: 0
	padding: 0

	background-image: url('../../images/pg_bg.png')

	position: absolute

.dayore

	position: absolute

	transform-origin: 50%

	border-radius: 50%

	background-image: url('../../images/ball.png')

	background-size: cover

