@import "./general"

body

	background: black
	background: url("../../images/pg-drips.png")
	background-size: cover
	overflow: hidden
	// text-align: center


.login

	text-align: center

.login-line

	position: relative
	top: 50vh
	height: 48px
	width: 590px

	-webkit-transform-style: preserve-3d

	margin:
		left: auto
		right: auto
		// top: -340px
		bottom: -48px

.login-line-logged


	text-align: right

	display: inline-block

	position: relative
	right: 170

	height: 150px
	width: 150px

	-webkit-transform-origin: 150% 150%

	color: rgba(240, 240, 240, 1)

.login-line-logged-user

	font-family: "HelveticaNeueLT Std Thin"
	font-size: 22px

.login-line-logged-info

	font-family: "HelveticaNeueLT Std Thin"
	font-size: 18px

.login-line-holder

	width: 520px
	height: 48px
	overflow: hidden
	position: relative
	display: inline-block

.login-line-holder-box

	@include black-box

	position: absolute
	left: 0
	width: 520px

.login-line-holder-box-input

	@include black-input
	text-align: left
	width: 165px
	bottom: 8px

.login-line-holder-box-username

	left: 27px

.login-line-holder-box-password

	right: 40px

.login-line-go

	display: inline-block

	position: absolute

	margin-left: 15px

	width: 57px
	height: 50px

.login-line-go-btn

	@include button

	&:after

		background-image: url("../../images/icon.png")
		background-position: 21px center
		background-repeat: no-repeat

	top: -1px


@keyframes caret

	50%

		opacity: 0.1
		transform: scaleY(0.8)

@-webkit-keyframes caret

	50%

		opacity: 0.1
		-webkit-transform: scaleY(0.8)


.fi-holder-caret

	position: relative
	margin: 0
	opacity: .8
	box-shadow: 0 0 8px #FFF
	-webkit-animation: 0.4s 40ms caret infinite
	animation: 0.4s 40ms caret infinite
	font-weight: normal
	// opacity: 0
	display: inline-block
	width: 3px
	margin-left: -3px
	background: #FFF
	border-radius: 4px
	-moz-user-select: none

.fi-holder

	display: inline-block
	position: relative